In [5]:
import pandas as pd

In [28]:
stopwords1 = pd.read_csv('stopwords/한국어불용어100.txt', sep='\t', header=None)

In [29]:
stopwords1 = stopwords1[0]

In [30]:
stopwords1

0      이
1      있
2      하
3      것
4      들
      ..
95     원
96     잘
97    통하
98    소리
99     놓
Name: 0, Length: 100, dtype: object

In [31]:
stopwords2 = pd.read_csv('stopwords/stopwords.txt', header=None)

In [32]:
stopwords2 = stopwords2[0]

In [33]:
stopwords2

0        아
1        휴
2      아이구
3      아이쿠
4      아이고
      ...
670     일곱
671     여덟
672     아홉
673      령
674      영
Name: 0, Length: 675, dtype: object

In [40]:
stopwords = pd.concat([stopwords1, stopwords2])
stopwords = stopwords.reset_index()
del stopwords['index']
stopwords

      0
0     이
1     있
2     하
3     것
4     들
..   ..
770  일곱
771  여덟
772  아홉
773   령
774   영

[775 rows x 1 columns]

In [44]:
stopwords.rename(columns={0:'stopwords'}, inplace=True)
stopwords

    stopwords
0           이
1           있
2           하
3           것
4           들
..        ...
770        일곱
771        여덟
772        아홉
773         령
774         영

[775 rows x 1 columns]

In [46]:
stopwords.to_csv('stopwords/stopwords_concat.csv', index=False, header=True, encoding='utf-8')

In [54]:
stopwords_list = list(stopwords['stopwords'].values)
len(stopwords_list)

775